{% include 'parties/header.html.twig' %}
<h1>Bienvenue !</h1>

<div class="jumbotron">
    <h1 class="display-3">Jumbo heading</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div>

<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident cumque veritatis expedita consequatur harum eos ea, qui animi odio laboriosam natus amet delectus esse veniam repellat quam. Facere, iure quia?</span><span>Perferendis corporis rem, libero dolor iusto totam nulla officia placeat reiciendis voluptatum autem culpa veniam perspiciatis cum possimus quia est distinctio laudantium voluptas. Veniam nesciunt doloribus, reiciendis blanditiis est eaque.</span><span>Veniam aliquid officia odio earum quod rerum quis rem cum nulla. Blanditiis neque, modi ipsa sequi harum tempore eius sed quo iure earum repellendus veritatis a quaerat accusamus sint pariatur.</span><span>Ducimus id expedita, omnis est distinctio odit tempora similique sint! Illum eius vitae nobis repellat deleniti mollitia! Provident possimus quisquam debitis eum error maiores rem quidem corporis omnis natus! Cupiditate?</span><span>Sunt illum nesciunt dolorem ipsum deserunt ex voluptatem saepe omnis dolore veritatis laborum magni, molestias iure totam eaque expedita excepturi? Doloremque dicta quas nemo voluptatibus asperiores, eveniet corporis voluptatem placeat?</span><span>Maiores assumenda numquam sit consequatur natus, nihil quas quaerat vitae itaque perferendis distinctio incidunt voluptatibus aspernatur commodi ad earum? Sit cumque quidem rerum hic libero, id qui quis ipsam consectetur?</span><span>Modi illum quam eveniet, fuga unde libero, quibusdam nisi animi, hic eum repellendus maxime distinctio quis magnam! Facere iure, aspernatur hic, unde mollitia ipsa iusto sed doloribus alias blanditiis voluptatibus.</span><span>Debitis adipisci itaque similique ab deleniti facilis, ipsum cum, vel, ullam ut non. Ipsam voluptates consequuntur accusamus facere voluptate quisquam nam dolorum ullam saepe, assumenda autem voluptas blanditiis, sint dolores.</span><span>Ut nesciunt excepturi deleniti rem id minus iusto nisi atque velit, ullam similique, repellat ipsum. Amet excepturi odit eum iusto maiores similique labore perspiciatis necessitatibus, eaque numquam aliquam eos cum.</span><span>Quod odit natus nisi ratione itaque temporibus ut. Aut in voluptatibus aliquam, omnis dolores quos voluptates, perspiciatis iure nesciunt ratione et at amet adipisci molestias impedit. Tempora pariatur voluptatibus id?</span></p>

{% include 'parties/footer.html.twig' %}